body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 4rem;
}

.cars-container {
  display: flex;
  justify-content: center;
}

.car-form > div + div {
  margin-top: 0.5rem;
}

.car-form label {
  display: block;
}

.car-form input {
  width: 100%;
}

.error {
  display: block;
  margin-top: 1rem;
  text-align: left;
  font-weight: 600;
  color: tomato;
  max-width: fit-content;
}

.car-form-submit-btn {
  margin-top: 1rem;
}

.cars-table {
  margin-left: 2rem;
}

.cars-table, .cars-table th, .cars-table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1rem;
}

.cars-table img {
  height: auto;
  width: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.car-color {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.hide {
  display: none;
}
